<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                LA-CASA-BELLA
            </a>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Xin chào
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item disabled" href="#">Admin</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/users/logout">Đăng xuất</a>
            </div>
        </div>

    </div>
</nav>