<% include ./index/menu %>
<div class="con__fullscreen-image">
    <span class="more-infomation-btn">
        <a class="d-inline-flex" href="#">
            <span>H</span>
            <span>i</span>
            <span>ể</span>
            <span>u</span>
            <span>&ThickSpace;</span>
            <span>t</span>
            <span>h</span>
            <span>ê</span>
            <span>m</span>
            <span>&ThickSpace;</span>
            <span>v</span>
            <span>ề</span>
            <span>&ThickSpace;</span>
            <span>c</span>
            <span>h</span>
            <span>ú</span>
            <span>n</span>
            <span>g</span>
            <span>&ThickSpace;</span>
            <span>t</span>
            <span>ô</span>
            <span>i</span>
            <img class="ml-2" src="/dist/images/icons/right.svg" width="30" alt="right"/>
        </a>
    </span>
</div>
<% include ./index/footer %>